Test output.
{% assign features = product.selected_or_first_available_variant.metafields.amzdata.features | parse_json %}
{% if features %}
  <ul>
  {% for feature in features %}
    <li>{{ feature }}</li>
  {% endfor %}
  </ul>
{% endif %}
{{ "Test" }}
{{ product }}